{% comment %}
General timeline by month:
{% endcomment %}

<div class="row">
  <div class="col-md-6">
    <h3>August 2022</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-course survey</a> </td> </tr>
      <tr> <td>Week 1 lecture</td>  <td> Introduction: the role of automating tools for biological data science </td> </tr>
      <tr> <td>Week 1 lab</td>  <td>The Unix shell</td> </tr>
      <tr> <td>Week 2 lecture</td>  <td>Open science and reproducibility</td> </tr>
      <tr> <td>Week 2 lab</td>  <td>Version Control with Git</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>September 2022</h3>
    <table class="table table-striped">
      <tr> <td>Week 3 lecture</td>  <td> Reporting research results </td> </tr>
      <tr> <td>Week 3 lab</td>  <td> Reproducible reports with R and GitHub </td> </tr>
      <tr> <td>Week 4 lecture</td>  <td> Obtaining large scale data </td> </tr>
      <tr> <td>Week 4 lab</td>  <td> Introduction to R/Python </td> </tr>
      <tr> <td>Week 5 lecture</td>  <td> Filtering data </td> </tr>
      <tr> <td>Week 5 lab</td>  <td> Introduction to R/Python (continued) </td> </tr>
      <tr> <td>Week 6 lecture</td>  <td> Statistical analysis </td> </tr>
      <tr> <td>Week 6 lab</td>  <td> Introduction to R/Python (continued) </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>October 2022</h3>
    <table class="table table-striped">
      <tr> <td>Week 7 lecture</td>  <td> Visualizing results </td> </tr>
      <tr> <td>Week 7 lab</td>  <td> Introduction to R/Python (continued) </td> </tr>
      <tr> <td>Week 8 lecture</td>  <td> Mid-term evaluations </td> </tr>
      <tr> <td>Week 8 lab</td>  <td> Mid-term evaluations </td> </tr>
      <tr> <td>Week 9 lecture</td>  <td> Data and research questions </td> </tr>
      <tr> <td>Week 9 lab</td>  <td> </td> </tr>
      <tr> <td>Week 10 lecture</td>  <td> </td> </tr>
      <tr> <td>Week 10 lab</td>  <td> </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>November 2022</h3>
    <table class="table table-striped">
      <tr> <td>Week 11 lecture</td>  <td> </td> </tr>
      <tr> <td>Week 11 lab</td>  <td> </td> </tr>
      <tr> <td>Week 12 lecture</td>  <td> </td> </tr>
      <tr> <td>Week 12 lab</td>  <td> </td> </tr>
      <tr> <td>Week 13 lecture</td>  <td> </td> </tr>
      <tr> <td>Week 13 lab</td>  <td> </td> </tr>
      <tr> <td>Week 14 lecture</td>  <td> Thanksgiving break </td> </tr>
      <tr> <td>Week 14 lab</td>  <td> Thanksgiving break </td> </tr>
      <tr> <td>Week 15 lecture</td>  <td> </td> </tr>
      <tr> <td>Week 15 lab</td>  <td> </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>December 2022</h3>
    <table class="table table-striped">
      <tr> <td>Week 16 lecture</td>  <td> </td> </tr>
      <tr> <td>Week 16 lab</td>  <td> </td> </tr>
      <tr> <td>Week 17 lecture</td> Final project presentations <td> </td> </tr>
      <tr> <td>Week 17 lab</td>  <td> Final project presentations </td> </tr>
      <tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-course Survey</a></td> </tr>
    </table>
  </div>
</div>
