<p>
  The course
  <a href="{{site.swc_site}}">data science research in biology</a>
  aims to provide students with best research computing skills and practices.
</p>
<p>
  This hands-on course will cover basic concepts and tools for data science in biology,
  including statistical design, version control, data management,
  task automation, and open science.
</p>
<p>
  Students will be encouraged to help one another along the course
  and to apply what they have learned to a research problem.
</p>
<p>Some activities that will be covered are:</p>
<ul>
  <li type="disc"> Basics of scientific software applications, </li>
  <li> creating automatic reproducible reports,</li>
  <li> developing and maintaining academic project websites.</li>
</ul>
<p align="left">
  <em>
    For more information on what we will teach in this course and why,
    please see the following papers:
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>",
    "<a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-021-04274-6">Continual Update of Phylogenetic trees</a>",
    .
  </em>
</p>
